<footer class="footer mt-auto py-3 bg-primary">
    <div class="container">
      <span class="text-muted">Rodapé do projeto.</span>
      <img src="/images/images.png" alt="Teste png" >
    </div>
  </footer>
  